*, *::before, *::after {
  box-sizing: border-box;
}
:root {
	--theme: #00885a;
}
#main-container {
    width: 90%;
    margin: auto;
}

.inline-block {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: auto;
}

#pgn-textarea {
    height: 100px;
    width: 90%;
}

#commands {
    display: inline-block;
    margin: 20px auto;
}

.commands__button {
    margin: 2px;
    background-color: white;
    border: 1px solid slategrey;
    color: slategrey;
    padding: 4px;
    font-size: 1.2em;
    min-width: 40px;
    cursor: pointer;
}

.commands__button:hover {
    background-color: slategrey;
    color: white;
}

#chessboard {
    display: inline-block;
    vertical-align: top;
	float : left;
}

#errorSpan {
    color: red;
    padding: 4px;
}

#moves-div {
    display: inline-block;
    vertical-align: top;
    max-height: 360px;
    max-width: 180px;
    overflow: auto;
    margin: 0 4px;
    color: black;
    line-height: 1em;
    -webkit-user-select: none; /* Chrome, Opera, Safari */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

.move-number-span {
    display: inline-block;
    vertical-align: top;
    width: 18%;
    border-bottom: 1px gainsboro solid;
    border-right: 1px gainsboro solid;
    padding: 4px 0;
    text-align: left;
}

.move-span {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: 40%;
    border-bottom: 1px gainsboro solid;
    border-right: 1px gainsboro solid;
    padding: 4px 0;
    text-align: center;
}

#move-span_selected {
    background-color: palegreen;
}

.move-span:hover {
    background-color: gainsboro;
}
.btn-grid {
  display: grid;
  gap: 10px;
  margin: 20px 0;
}

body {
  background-color: #E5E4E2;
  padding: 20px;
  margin: 0;
  background: no-repeat center center fixed; /*url(blurchess.jpg) */
  -webkit-background-size: cover;
  background-size: cover;
}
.center {
  display: flex;
  justify-content: center;
}
.bottomright{
	position: absolute;
	bottom: 8px;
	right: 16px;
}
.quest{
	margin: 0;
    display: inline-block;	
}
.replaybtn{
	display: inline;
}
.btn{
  background-color: #25383C; /* Dark Slate Grey */
  border: none;
  color: white;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.switchbox {
	position: relative;
	display: inline-block;
	width: 3em;
	height: 1em;
	padding: .125em;
	overflow: hidden;
	box-sizing: content-box;
	border: 2px solid darkgrey;
	outline: none;
	border-radius: .75em;
	background-color: white;
	font-size: 1.25em;
	vertical-align: middle;
	cursor: pointer;
	transition: .15s ease-out;
}
.switchbox::before {
	position: relative;
	z-index: 2;
	display: block;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	background-color: darkgrey;
	content: '';
	transition: .15s ease-out;
}
.switchbox + label {
	vertical-align: middle;
}
.switchbox-yes,
.switchbox-no {
	position: absolute;
	top: 50%;
	z-index: 1;
	transform: translateY(-50%);
	font-size: .75em;
	text-transform: uppercase;
	pointer-events: none;
	transition: inherit;
}
.switchbox-yes {
	left: .75em;
	color: white;
	font-weight: bold;
	opacity: 0;
}
.switchbox-no {
	right: .75em;
	color: darkgrey;
	opacity: 1;
}
.switchbox:hover,
.switchbox:focus {
	border-color: var(--theme); /* You probably need to change this! */
	box-shadow: 0 0 .25em var(--theme); /* You probably need to change this too! */
}
.switchbox:hover::before,
.switchbox:focus::before {
	background-color: var(--theme); /* You probably need to change this! */
}

.switchbox.is-pressed {
	border-color: var(--theme); /* You probably need to change this! */
	background-color: var(--theme); /* You probably need to change this too! */
}
.switchbox.is-pressed .switchbox-yes {
	opacity: 1;
}
.switchbox.is-pressed .switchbox-no {
	opacity: 0;
}
.switchbox.is-pressed::before {
	transform: translateX(2em);
	background-color: white;
}
.switchbox.is-pressed:hover,
.switchbox.is-pressed:focus {
	border-color: rgba(0,0,0,.35);
}
.switchbox.is-pressed:hover::before,
.switchbox.is-pressed:focus::before {
	background-color: white;
}
/* HUD */

#hud {
  display: flex;
  justify-content: space-around;
  background-color: white;
}

.hud-prefix {
  text-align: justify;
  font-size: 1.2rem;
  background-color: white;
}

.hud-main-text {
  text-align: justify;
  background-color: white;
}
#progressBar {
  width: 10rem;
  height: 2rem;
  border: 0.12rem solid #10822c;
  margin-top: 0.75rem;
}

#progressBarFull {
  height: 1.75rem;
  background-color: #10822c;
  width: 0%;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
	  /* CSS */
	  .container {
	  display: inline-block;
	  width: 536px;
	  height: 536px;
	  max-width: 80%;
	  background-color: rgb(255,245,238);
	  padding: 10px;
	}
	.containercontainer{
		width: 1122px;
		height: 586px;
		max-width: 80%;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		position:relative;
	}
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
    
	  /* CSS */
	  .container {
	  display: inline-block;
	  width: 408px;
	  height: 408px;
	  max-width: 80%;
	  background-color: rgb(255,245,238);
	  padding: 10px;
	}
	.containercontainer{
		width: 866px;
		height: 458px;
		max-width: 80%;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		position:relative;
	}
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
      
	  /* CSS */
	  .container {
	  display: inline-block;
	  width: 330px;
	  height: 280px;
	  background-color: rgb(255,245,238);
	  padding: 10px;
	}
	.containercontainer{
		width: 330px;
		height: 630px;
		max-width: 80%;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		position:relative;
	}
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  	  .container {
	  display: inline-block;
	  width: 280px;
	  height: 280px;
	  max-width: 80%;
	  background-color: rgb(255,245,238);
	  padding: 10px;
	}
	.containercontainer{
		width: 630px;
		height: 330px;
		max-width: 80%;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		position:relative;
	}
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
    	  /* CSS */
	  .container {
	  display: inline-block;
	  width: 136px;
	  height: 136px;
	  background-color: rgb(255,245,238);
	  padding: 10px;
	}
	.containercontainer{
		width: 186px;
		height: 530px;
		max-width: 80%;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		position:relative;
	}
	.btn{
	  background-color: #25383C; /* Dark Slate Grey */
	  border: none;
	  color: white;
	  padding: 5px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 10px;
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	  /* CSS */
	  .container {
	  display: inline-block;
	  width: 136px;
	  height: 136px;
	  background-color: rgb(255,245,238);
	  padding: 10px;
	}
	.containercontainer{
		width: 186px;
		height: 530px;
		max-width: 80%;
		background-color: white;
		border-radius: 10px;
		padding: 10px;
		position:relative;
	}
	.btn{
	  background-color: #25383C; /* Dark Slate Grey */
	  border: none;
	  color: white;
	  padding: 5px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 10px;
	}
  
  
}